.main {
  margin-top: 20px;
  width: 500px;
  border-radius: 9px;
  background-color: #bee5eb;
}

.Row {
  float: right;
  margin-right: 5px;
  margin-top: 5px;
}

.Form {
  margin-top: 5px;
}

.Button {
  padding-top: 5px;
}
